.scroll-pane {
    -fx-border-style: none;
    -fx-background-color: transparent;

}


.menuBtn {
  -fx-background-color: transparent;
     -fx-pref-width: 100px;
     -fx-pref-height: 40px;
     -fx-padding: 8px 16px;
     fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-cursor: hand;
}
.menuBtn:hover {
  -fx-background-color: linear-gradient(to right, #DBE7FF, #FBCCF8);
  -fx-pref-width: 100px;
  -fx-pref-height: 40px;
  -fx-padding: 8px 16px;
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-cursor: hand;
}

.sideBarMenu{
      -fx-background-color: linear-gradient(to right, #DBE7FF, #FBCCF8);
}


.recipesBox {
  -fx-background-color: linear-gradient(to right, #ffffff, #DBE7FF, #FBCCF8);
  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
}


