.recipeOverview {
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.scrollPane {
    -fx-border-width: 0px;
    }


.menuBtn {
  -fx-background-color: transparent;
     -fx-pref-width: 100px;
     -fx-pref-height: 40px;
     -fx-padding: 8px 16px;
     fx-background-radius: 10px;
     -fx-border-radius: 10px;
     -fx-cursor: hand;
}